<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysMenuMapper">

    <resultMap id="sysMenuMap" type="com.atguigu.spzx.model.entity.system.SysMenu" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,parent_id,title,component,sort_value,status,create_time,update_time,is_deleted
    </sql>

    <!--查询所有菜单selectAll-->
    <select id="selectAll" resultMap="sysMenuMap">
        select <include refid="columns"/>
        from sys_menu sm
        where is_deleted = 0
        order by sort_value
    </select>

    <!--添加菜单insert-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_menu (
            id,
            parent_id,
            title,
            component,
            sort_value,
            status
        ) values (
                     #{id},
                     #{parentId},
                     #{title},
                     #{component},
                     #{sortValue},
                     #{status}
                 )
    </insert>

    <!--修改菜单updateById-->
    <update id="updateById">
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

    <!--查询是否有子菜单countByParentId-->
    <select id="countByParentId" resultType="Integer">
        select count(id)
        from sys_menu
        where parent_id = #{id}
        and is_deleted = 0
    </select>
    <!--根据id删除菜单 deleteById-->
    <update id="deleteById">
        update sys_menu set
        update_time = now(),
        is_deleted = 1
        where id = #{id}
    </update>

    <!--根据用户id查询菜单findMenuByUserId-->
    <select id="findMenuByUserId" resultMap="sysMenuMap">
        SELECT DISTINCT sm.* from sys_menu sm
        INNER JOIN sys_role_menu srm ON sm.id = srm.menu_id
        INNER JOIN sys_user_role sur ON srm.role_id = sur.role_id
        WHERE sur.user_id = #{id} and sm.is_deleted = 0
    </select>

    <!--//根据传入的parentId查询是否存在父节点selectById-->
    <select id="selectById" resultMap="sysMenuMap">
        select <include refid="columns" /> from sys_menu where id = #{parentId}
    </select>
</mapper>